{block content}

<h1>{_"form.email.formNameHasBeenFilled", [name => $name]}</h1>

<h2>{_"form.email.filledData"}</h2>

{foreach $emailData AS $itemName => $value}
    {$itemName}: {$value}<br>
{/foreach}
